<?xml version="1.0" encoding="utf-8" ?>

<log4net>
  <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
    <threshold value="ALL" />
    <file type="log4net.Util.PatternString" value="%property{RootDirectory}\logs\%property{ServiceName}" />
    <datePattern value="'_'yyyy-MM-dd'.log'" />
    <staticLogFileName value="false" />
    <appendToFile value="true" />
    <rollingStyle value="Composite" />
    <maximumFileSize value="100MB" />
    <maxSizeRollBackups value="10" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level :: %logger :: %-12property{MethodName} - %message%newline%exception" />
    </layout>
  </appender>
  <appender name="Console" type="log4net.Appender.ConsoleAppender">
    <threshold value="ALL" />
    <layout type="log4net.Layout.PatternLayout">
      <conversionPattern value="%date %-5level :: %logger :: %-12property{MethodName} - %message%newline%exception" />
    </layout>
  </appender>
  <root>
    <level value="ALL" />
    <appender-ref ref="RollingFileAppender" />
    <appender-ref ref="Console" />
  </root>
</log4net>