<div class="moviApiContainer">
    <div class="authBox">
        @{ Html.RenderAction("LoginControl", "Home"); }
    </div>
    <div class="searchBox">
        @{ Html.RenderAction("SearchControl", "MovieList"); }
    </div>
    <div class="movieListBox">
        <div class="movieListRowHeader">
            <div class="movieListRowTitle">
                Title
            </div>
            <div class="movieListRowDesc">
                Description
            </div>
            <div class="movieListRowAction">
                <div onclick="moviesUI.showCreateMovieList();">
                    <img src="@Url.Content("~/img/add.png")" style="cursor: pointer;" />
                </div>
            </div>
        </div>
    </div>
    <div id="editControlContainer" title="Movielist">
        @{ Html.RenderAction("EditControl", "MovieList"); }
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        moviesUI.initDialog();
        window.moviesApiClient.getAllMovieList();
        $('#ListName').on('change', function () {
            window.moviesApiClient.searchMovieList();
        });
        $('#loginButton').on('click', function () {
            window.moviesApiClient.login();
        });
    </script>
}