@model Movies.Api.Models.SearchModel
    
<div class="searchControl">
    <div>
        @Html.LabelFor(x => x.ListName)
    </div>
    <div>
        @Html.TextBoxFor(x => x.ListName, new { @class = "searcTextBox", @placeholder = "Search" })
    </div>
</div>